<html>
<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <h2>The best</h2>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dwc08c6b40/hi-res/CHDHX-401_main1.jpg"  height="300" width="800" alt="GoPro Hero4">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6s/select/iphone6s-select-2015?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=WkFkh3" width="800" height="300" alt="Apple iPhone 6s">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://www.yamaha-motor-india.com/image/motorcycle/yzf-r1m/gallery/r1m-wallpaper2.jpg" width="800" height="300" alt="Yamaha R1M">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <h2>Most Popular</h2>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://g01.a.alicdn.com/kf/HTB1KSAvKpXXXXX4XpXXq6xXFXXXh/2015-Nike-Roshe-Run-men-Running-Shoes-Nike-Athletic-Shoes-men-s-Roshe-Run-Light-Running.jpg" width="320" height="150" alt="Nike Roshe Run">
                            <div class="caption">
                                <h4 class="pull-right">$90.99</h4>
                                <h4><a href="#">Nike Roshe Run</a>
                                </h4>
                                <p>See more shoes like this online store item at <a target="_blank" href="http://www.nike.com/">Nike - http://www.nike.com/</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://www.hilti.it/medias/sys_master/images/h58/9088782827550/30679_APC_460x260.jpg" width="320" height="150" alt="Hilti Saw">
                            <div class="caption">
                                <h4 class="pull-right">$640.99</h4>
                                <h4><a href="#">Hilti Saw</a>
                                </h4>
                                <p>This is the easiest way to solve your fu**ing problems.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">0 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://farm1.staticflickr.com/770/22563240163_c81a8b9130_o.jpg" width="320" height="150" alt="GT4">
                            <div class="caption">
                                <h4 class="pull-right">$n.d.</h4>
                                <h4><a href="#">Porsche Cayman GT4</a>
                                </h4>
                                <p>Rebels, race on. <a target="_blank" href="http://www.porsche.com"> Porsche - http://www.porsche.com</a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">1 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" width="320" height="150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$84.99</h4>
                                <h4><a href="#">Fourth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" width="320" height="150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Fifth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" width="320" height="150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Sixth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

</body>

</html>
