<% provide(:title, 'All users') %>
<h1>All users</h1>
 <tr> <% if !@users.present? %>
  <p>There are no users matching this name.</p> </tr>
<% else %>
<ol class="users">
    <%= render @users %>
</ol>
 <% end %>

<% provide(:title, 'All owners') %>
<h1>All owners</h1>
<tr> <% if !@owners.present? %>
  <p>There are no owners matching this name.</p> </tr>
<% else %>
<ol class="owners">
   <%= render @owners %>
</ol>
<%= will_paginate @owners%> <% end %>
